#footer {
  background: #454a55;
  color: #c4c4c4;
  .site-info {
    width: 100%;
    display: block;
    padding-bottom: 1px;
    p {
      text-align: center;
      font-size: 14px;
    }
  }
}

.footer-inner {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

#footer-sidebar1 {
  width: 33.3%;
  float: left;

}

#footer-sidebar2 {
  width: 33.3%;
  float: left;
}

#footer-sidebar3 {
  width: 33.3%;
  float: left;
}

