@import "../base/variables";

#wrapper {
  background-color: $background-body;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  .container {
    width: 1170px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
#main {
  position: relative;
  background-color: inherit;
  .content {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0 0 50px rgba(0,0,0,.15);
    padding: 1px 15px 0 15px;
    position: relative;
    z-index: 40;
    top:  -34px;
    overflow: hidden;
    background-color: white;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}