#service_menu {
  left: 0;
  top: 10px;
  position: relative;
  z-index: 1000;
  width: 100%;
  a {
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.86);
    font-size: 15px;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
}

nav {
  li {
    display: inline-block;
    float: right;
    a {
      display: block;
      text-decoration: none;
    }
  }
}
  #service_menu .current-menu-item a {
    border-bottom: 2px solid white;
  }



