$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #b99767;
$link-hover-color			:#b99767;
$brand-primary              :#b99767;