/************************
 * Form Styles
 ************************/

//// normal button
.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button{
 	@include button-variant( $btn-primary-color, $btn-primary-bg, $btn-primary-border);
    border-radius: $input-border-radius-small; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    padding:$padding-large-vertical $padding-large-horizontal;
}

.woocommerce a.button, a.yith-wcwl-add-button{
    background:none;
    padding:14px 20px;
    font-weight: normal;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    &:hover{
        background:none;        
    }
}
/// submission buttons
 
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	@include button-variant( $btn-primary-color, $btn-primary-bg, $btn-primary-border);
    border-radius: $border-radius-small; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    padding:$product-button-padding;
    text-transform: uppercase;
}
 
/// add to cart button and buy product button
 .woocommerce  a.add_to_cart_button, .woocommerce a.product_type_external, #main-container .woocommerce button.button.single_add_to_cart_button {
    background:#e9e9e9;
    border-radius: 50%;
    @include size(38px,38px);
    padding: 12px;
    color: $white;
    i{
        color: $white;
    }
    span{
        display: none;
    }
    &:hover{
        background-color: darken($theme-color, 5%);
    } 
}
.woocommerce a.add_to_cart_button.added:after{
    content: none;
}
/// 


/**
 * Input Form Styles
 */
//// input and textarea. styles extended from bootstrap form
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea,  .woocommerce select, .woocommerce-cart table.cart input.input-text {
	display: block;
	width: 100%;
	height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $input-color;
	background-color: $input-bg;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid $input-border;
	border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	// Customize the `:focus` state to imitate native WebKit styles.
	@include form-control-focus;

	// Placeholder
	@include placeholder;

	// Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: $input-bg-disabled;
		opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
	}
}
.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, 
.woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, 
.woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, 
.woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, 
.woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input{
    width: auto!important;
}
.woocommerce form .form-row textarea{
   min-height: 100px;   
}
.woocommerce table.wishlist_table{
    .add-cart{
        a.button{
            background: transparent;
            color: $theme-color;
            width: auto;
            border-radius: 0;
        }
    }
}
.woocommerce-cart table.cart input{
   line-height: 1.62857;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
        width: auto !important;
    }
    @media (max-width: $screen-phone){
        width: auto !important;
    }
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto!important;
    padding: 9px ;
}

.woocommerce form .form-row.woocommerce-validated .select2-container, 
.woocommerce form .form-row.woocommerce-validated input.input-text, 
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $theme-color;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    @media screen and (max-width: $screen-xs-min) {
        float: none!important;
        width: auto!important;
    }
}
// tab
.woocommerce-tabs{
    .panel {
        border:none;
        margin:0 !important;
        @include box-shadow(none);
    }
    .shop_attributes{
        border:0 !important;
    }
}