$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #28b9b2;
$link-hover-color			:#28b9b2;
$brand-primary              :#28b9b2;