/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-toggle{
        .icon-bar{
            background-color:$theme-color;
        }
        border-color:$border-color;
    }
    .navbar-nav{
        float: none;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }
        li{
            &.active{
                background: none;
                > a{
                    background: none;
                    color: $theme-color;
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{            
            margin-top: 0;
            padding:20px 15px;
            > a{
                font-family: $font-family-base;
                position: relative;
                color: $navbar-link-color;
                padding: 0;
                margin: $navbar-link-margin;
                text-transform: $navbar-text-transform;
                font-weight: $navbar-font-weight;
                @include border-radius(0);
                @include font-size(font-size, $navbar-font-size);
                @include transition(all 0.35s);
                &:before{
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    right: 0;
                    @include size(16px, 2px);
                    background: $theme-color; 
                    z-index: 9;
                    @include opacity(0);
                    @include transition(all 0.35s); 
                }
                .caret{
                    color: #222222;
                    border-width: 3px;
                    @include transition(all 0.35s);
                }

                &:hover, &:focus{
                    color: $theme-color;
                    background: $navbar-link-hover-bg;
                    &:before{
                        @include opacity(1);
                    }
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            
            &:first-child a{
                border: none;
            }
        
            .dropdown-menu{
                padding:0;
                background: $navbar-dropdown-bg;
                min-width: $navbar-dropdown-size;
                @include border-radius(0);
                position: absolute;
                opacity: 0;
                display: block;
                @include rtl-right(0);
                top: 102%;
                @include transition( all 0.3s ease-out 0s) ;
                transform:translate(0px, 20px);
                @include transition(all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
                visibility: hidden;
                z-index: 999;
                border:0;
                ul.dropdown-menu{
                    left: 101%;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    @include transition( all 0.3s ease-out 0s) ;
                    transform:translate(0px, 20px);
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 10px 0 0;
                    position: relative;
                    border:none;
                    a{
                        min-height: inherit;
                        display: block;
                        font-weight: $navbar-dropdown-link-font-weight;                        
                        color: $navbar-dropdown-link-color;
                        text-transform: $navbar-dropdown-link-transform;
                        @include transition(all .2s linear);
                        @include font-size(font-size,$navbar-dropdown-link-font-size);
                        &:hover{
                            color: $navbar-dropdown-link-hover-color;
                            background: $navbar-dropdown-link-hover-bg;
                        }
                    }
                    &:hover{
                        > ul.dropdown-menu{
                            opacity: 1;
                            visibility: visible;
                            transform:translate(0px, 0px);
                        }   
                    }
                    &:last-child{
                        padding-bottom:20px;
                    }
                }
                .widgettitle,.widget-title{
                    padding:20px;
                    @include font-size(font-size, $navbar-widget-title-font-size);
                    border-color:$border-color;
                    margin-bottom: 0;
                }
                .widget,.products{
                    box-shadow:none;
                    border:none;
                    margin-bottom: 0;
                }
                .products{
                    .row{
                        > div{
                            padding:0 20px;
                        }
                    }
                }
                .widget-products{
                    .widget-title{
                        padding:0 20px;
                    }
                }
                .pbr-category-filter{
                    margin: 0;
                    padding:$grid-gutter-width 0 $grid-gutter-width $grid-gutter-width;
                }
                .category-caption{
                    clear: both;
                    padding-top:30px;
                }    
            }
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            @include rtl-padding-left(0);
                            @include rtl-padding-right(0);
                            &:hover{
                                @include rtl-padding-left(10px);
                                @include rtl-padding-right(10px);
                            }
                        }
                    }
                }
            }
        }
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        > .aligned-fullwidth{
            position: static !important;             
            > .dropdown-menu{
                width: 100% !important;
            }
        } 
        > .aligned-right{
            position: static !important; 
            > .dropdown-menu{
                @include rtl-right(0);
                @include rtl-left(auto);
            }
        }
        > .aligned-left {
            position: static !important; 
            > .dropdown-menu  {
                @include rtl-left(0);
                @include rtl-right(auto);
            }
        }
        .wpb-container-mega{
            margin: 0;
        }
        .container-mega{
            .row {
                padding-bottom: 0;
                margin: 0 !important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    padding:0;
                    &:after{
                        content: "";
                        @include size(1px, 1000px);
                        background: $border-color;
                        position: absolute;
                        @include rtl-left(0);
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }   
    .text-label{
        position: absolute;
        top: -20px;
        right: 45%;
        padding:0px 3px; 
        font-size: 9px;
        color: #FFFFFF;
        text-transform: none;
        line-height: 18px;
        &.text-hot{
            background:$brand-danger;
            &:after {  border-top-color: $brand-danger ; } 
        }
        &.text-new{
            background:$brand-info;
            &:after {  border-top-color: $brand-info ; } 
        }
        &.text-featured{
            background:$brand-primary;
            &:after {  border-top-color: $brand-primary ; }
        }
        &:after{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            top: 100%;
            left: 50%;
            margin-left: -3px;
        }
    }
}

@media (min-width: 768px) {
    .navbar-mega  .navbar-nav > li {
        &:hover{
            > .dropdown-menu{
                opacity: 1;
                right: 0px;    
                transform:translate(0px, 0px);           
                visibility: visible;               
            }
        }
    } 
}
/**
 * White Styles
 */
.navbar-mega-light{
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    .navbar-mega .navbar-nav > li.active > a::before, .navbar-mega .navbar-nav > li:hover > a::before{
        background:#FFFFFF;
    }
}

.navbar-mega-theme{
    background:$theme-color;
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    
}


/**
 * Simple Styles
 */
.navbar-mega-simple{
   .pbr-megamenu{
        /* display: inline-block; */
   }
}

/* Vertical hidden*/
.home{
    .menu-vertical-hidden{
        .vertical-menu{
            display: block;
            visibility: visible; 
        }
    }
    .pbr-footer{
        background:#f8f6f0;
    }
}
.vertical-menu{
    display: none!important;
    @include size(100%, 100%);   
    
    ul, ol{
        padding: 0;
        li{
            list-style: none;
        }
    }   
     
    .megamenu {    
        position: relative;
        padding: 8px 0 0px;
        &:before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: #6e6068;        
            display: block;
        }     
        > li{
            padding: 2px 20px;
            position: static;
            @media (min-width: $screen-md) and (max-width: $screen-md-max){
                padding:7px 20px;
            }
            &:hover{
                background: $theme-color;
                @include transition(all .12s ease-in-out);
                
                .dropdown-menu{
                    display: block;
                    left: 100% !important;
                    opacity: 1;
                    top: 0;
                    visibility: visible;
                    transform: none;
                }
                i{
                    color: $white;
                }
            }
            a:hover{color:$white;}
        }
    }
    
    .icon-ver{       
        margin: 0 15px 0 7px; 
    }
 
    > .nav{
        position: relative;
        @include size(100%, auto);       
        box-shadow:0 6px 12px rgba(0, 0, 0, 0.3);
        > li{
            display: block;
            float: none;
            &.dropdown{
                &:hover,&.open{
                    > a{
                        position: relative;
                        &:before{
                            display: block;
                            content: "";
                            position: absolute;
                            top: 0;
                            z-index: 9999;
                            @include size(15px, 100%);
                            @include rtl-left(0);
                        }
                    }
                }
            }
            &.open{
                > a{
                    &,&:hover,&:focus{
                        
                    }
                }

            }
            > a{
                text-transform: none;
                color: #fff;
                display:block;
                line-height: 31px;
                padding: 0;
                @media (min-width: $screen-lg){
                    line-height: 44px;
                }
                &:before{
                    content: none;
                }
                i{
                    color: #aba2a4;
                    font-size: 15px;
                    @include rtl-margin-right(10px);
                    width: 25px;
                }
                .text-label{
                    line-height: 16px;
                    @include rtl-right(0);
                    display: inline-block;
                    top: 0;
                    @include rtl-margin-left(8px);
                    position: relative;
                    &.text-hot{
                        &:after {  border-right-color: $brand-danger ;border-top-color: $nocolor; } 
                    }
                    &.text-new{
                        &:after {  border-right-color: $brand-info ;border-top-color: $nocolor; } 
                    }
                    &.text-featured{
                        &:after {  border-right-color: $brand-primary ;border-top-color: $nocolor; }
                    }
                    &:after{
                        @include rtl-left(0);
                        top: 40%;
                        margin-left: -6px;
                    }
                }
            }
            .caret{
                @include rtl-float-right ();
                display: none;
                &:before{
                    content: "\f105";
                }
            }
            .dropdown-menu{
                min-width: 700px;
                @include border-radius(0);
                transform: none;
                left: 110% !important;
                top: 0;
                a:hover{
                    color: $theme-color;
                }
            }
            &:last-child{
                padding-bottom:5px;
            }
        }
    }
    
    //--------------------------dropdown-menu--------------------------
    .dropdown-menu{
        margin:0;
        padding: 32px;
        border: 4px solid $theme-color;  
        top: 0;
        display: block;
        opacity: 0;
        visibility: hidden;
        @include transition(all .2s ease-in-out);
        @include clearfix();
        @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.11));
        
        .row + .row{
            margin-top: 20px;
        }
        ul{
            padding: 0;
            list-style: none;
            @include rtl-border-right(0);
            ul{
                @include rtl-padding-left($theme-padding/2);
            }
        }
        .widget-title{      
            background:none;
            border: none;
            padding:0 20px !important;
            span{
                color: $black;
                &:before{
                    content: none;
                }
            }
        }
        ul > li > a{           
            color: $text-color;
            padding: $navbar-dropdown-padding;
            
        }
        
        //-------------------------- products--------------------------
        .woocommerce{
            .quick-view,
            .action-bottom{
                display: none;
            }
        }
        
    }
    &.menu-left{
        .dropdown-menu{ 
            @include rtl-left(100%!important);
            @include rtl-right(auto !important);
        }
    }
    &.menu-right{
        .dropdown-menu{
            @include rtl-left(auto !important);
            @include rtl-right(100% !important);
        }
        > .nav > li{
            .caret{
                @include rtl-float-left();
                &:before{
                    content: "\f104";
                }
            }
            > a{
                @include rtl-text-align-right();
            }
        }
        .icon-ver{
            @include rtl-base-toprightbottomleft(margin,0,0,0,10px);
            @include rtl-float-right();
        }
    }
}
/*** Vertical Megamenu ***/
.pbr-vertical-menu{
    overflow: visible;
    position: relative;
    .vertical-menu{
        position: absolute;
        top: 100%;
        @include rtl-left(0);           
        visibility: hidden;
        display: none;
        background: #5d4e57;
        padding: 0;
        z-index: 999;
        @include transition(all 0.35s);           
    }
    .widget-title{ 
        border-top: 2px solid #bf9a61;
        border-bottom: none;
        background: #5d4e57;    
        margin: 0;
        letter-spacing: -.05em;
        padding: 0 28px;                   
        span{
            padding: 0 5px 0 0;
            position: relative;
            color: #fff;
            font-size: 18px;
            line-height: 59px;
            display: block;            
        }
    }
    .widget-content{
        .products-grid{
            .row > div{
                &:after{
                    content: none;
                }
            }
        }
    }
    &:hover, &.active{
        .vertical-menu{
            display: block !important;
            visibility: visible;
        }   
    }      
}