/**
 * VC internal Elements
 */
 .wpb_content_element{
/*  	margin-bottom: $block-module-margin-bottom !important; */
 }

 /**
  */
  /**
   *
   */
.widget-text-heading {
    @include  widget-specical-style();
}  

.pbr-category-filter{
  background-color:$white;
  margin-bottom: 0;
  padding:20px 10px 20px 20px;
  border-bottom:none;
  @include rtl-border-left(0);
  border-top: 1px solid $border-color;
  @include rtl-border-right(1px solid $border-color);
  box-shadow:none;
  .widget-content{
    border: none;
  }
  .category-caption{
    h4{
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 9px;
      text-transform: none;
      @media (min-width: $screen-md) and (max-width: $screen-md-max){
        margin-bottom:4px;
      }
    }
    small{
      display: none;
    }
  }
  img{
    @include rtl-float-right();
  }
  .category-filter-content{
    ul{
      margin-bottom: 0;
    }
    a{
      font-size: 11px;
    }
  }
  .category-filter-link{
    @media (min-width: $screen-md) and (max-width: $screen-md-max){
      display: none;
    }
    a{
      color: $theme-color;
    }
  }
  &:last-child{
    border-bottom:1px solid $border-color-base;
  }
}
/**
 * Product Tabs Widgets
 */
.widget-productcats{
    .widget-heading{
        h3{
            margin: 10px 0 0;
        }
        .sub-categories{
            padding-top:20px;
            a{
                color: #888;
                font-size: 95%
            } 
        }
    }
}
/**
 * Styles for News Blogs
 */
 @media(min-width: $screen-lg){
.border-col{
  @include rtl-border-right(1px solid $border-color);
  &:last-child{
    @include rtl-border-right(0);
  }
}
}
.frontpage-blog{
  .main-blog{
    .post{
      .entry-content{
        margin-top:10px;
      }
      .entry-title{
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
 span{
    color: $brand-primary;
  }
}
.frontpage-posts{
  margin-bottom:0;
  &.frontpage-3 {
    .widget-content{
      border: none;
    }
    .post {
        margin-bottom: 25px;
        padding: 0 0 20px;
        border-bottom:1px solid $border-color-base;
        @include rtl-border-right(0);
        .entry-thumb {
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .entry-content {
            padding-top: 10px;
        }
        .entry-title {
            margin-top: 0;
            text-transform:none;
            font-size: 18px;
        }
    }
  }
  &.frontpage-9{
    .widget-content{
      @include rtl-border-right(0);
    }
    .entry-thumb{
      position: relative;
    }
    .entry-content{
        .entry-content{
          height: 100px;
          overflow: hidden;
        }
    }
    .entry-title{
      margin-bottom: 15px;
      height: 45px;
      overflow: hidden;
      line-height: 25px;
      text-transform:none;
    }
  }
  &.frontpage-12 {
    .secondary-posts{
      .entry-title{
        text-transform: none;
        font-weight: normal;
      }
      .entry-date{
        color: $brand-primary;
        span{
          @include rtl-margin-right(5px);
        }
      }
    }
  }
  &.frontpage-categories{
    .main-posts {
        .entry-thumb {
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }

    }
    .post{
      margin-bottom: 20px;
    }
  }
  article.post{
    border-width: 0 1px 0 0;
    margin-bottom: 0;    
    border-color: $border-color-base;
    border-style: solid;
    padding: 20px;
  }
} 
//style google map
.wpb_gmaps_widget{
  .wpb_wrapper{
    padding:0 !important;
  }
}
.wpb_flickr_widget {
  text-align: center;
  .wpb_wrapper {
    margin-top: -20px;
  }
  .wpb_flickr_heading{
    font-size: 18px;
  }
  .flickr_badge_image {
    float: none;
    display: inline-block;
    margin: 20px 10px 0;
    @include size(120px,120px);
  }
  .flickr_stream_wrap {
    display: none;
  }
}
.vc_grid-item {
  .vc_separator {
    display: none;
  }
  .vc_grid-item-mini {
    .vc_gitem-zone {
      .vc_gitem-zone-mini {
        .vc_gitem_row .vc_gitem-col {
          padding: 15px 20px 20px;
          .vc_custom_heading {
            margin: 0;
            padding: 0;
            h1,h2,h3,h4,h5,h6 {
              font-size: 14px;
            }
          }
          .vc_gitem-post-data-source-post_excerpt {
            max-height: 95px;
            overflow: hidden;
          }
          .vc_btn3.vc_btn3-size-md {
            padding: 10px 20px;
            border: none !important;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
/**
 * Styles for progress bar
 */

.vc_progress_bar{
  margin-top: 40px;
  .vc_single_bar{
      margin-bottom: 30px !important;
      .vc_bar{
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0;    
        height: 20px;      
      }
    .vc_label{
      margin: 0;
      padding: 0 !important;
      position: absolute;
      top: -25px;  
      height: 20px;
      .vc_label_units{
        @include rtl-float-left();
        color: red;
        margin: 0 10px 0 0;
        font-weight: bold;
      }    
    }
  }
}

.vc_tta-container{
  h2{
    margin-top: 0;
  }
}
/*------------------------------------------------------------------
[# Toggles]
-------------------------------------------------------------------*/
.vc_toggle_default{
  &.vc_toggle_color_default{
    margin-bottom: 20px;
    .vc_toggle_title{
      padding: 10px 25px !important;
    }
  }
  .vc_toggle_title{
    padding-left: 20px;    
    border: 1px solid #e4e4e4;
    cursor: pointer; 
    background-color: #f7f7f7;
    h4{
      text-transform: none; 
    }
  }
}
/*------------------------------------------------------------------
pbr-our-team
-------------------------------------------------------------------*/
.pbr-our-team{
  .panel-body{
      padding:0;
  }
  .panel-footer{
      h5{
          font-weight: normal;
          font-style: italic;
      }
  }
  ul.list-inline{
      margin-top: 10px;
      li{
          @include size(36px,36px);
          line-height: 36px;
          @include border-radius(50%);
          border:1px solid $border-color;
          background-color:$white;
      }
  }
}


/*
 * Single Image 
 */
.wpb_single_image{
    
    position:relative;
    text-transform: uppercase;

    .wpb_heading{
        padding:4px 15px;
        font-size: 100%;
        margin: 0;
        @include rtl-float-left();
        display: none;
        @media(min-width: $screen-lg){
          display: block;
        }
        @media (min-width: $screen-md) and (max-width: $screen-md-max){
          display: block;
        }
    }
    .description{
        position: absolute;
        top:40%;
        left:20px;
        max-width: 90%;
        span{
            font-weight: bold;
        }
    }
} 